body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* font-weight: 1rem; */
}

html {
  background: url(img/drummer.jpg) no-repeat center center fixed;
}

.key {
  /* margin: 0 auto; */
  float: left;
  background: black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.5rem;
  transition: all 0.07s;
  width: 100px;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px;
}

.keys {
  position: absolute;
  top: 40%;
  width: 100%;
}

kbd {
  display: block;
  font-size: 40px;
}

span {
  display: block;
  font-size: 1rem;
  color: #ffc600;
}

#mainDiv {
  margin: 0 auto;
  background: red;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  background: lightskyblue;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}
